/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
  background: var(--background);
}

:root {
  --pink: #ff1f8b;
  --purple: #bb00ff;
  --background: #090b18;
}

.nav-container {
  position: fixed;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 30px 30px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  z-index: 9999;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.nav-container-active {
  border-bottom: 1px solid #ffffff2f;
  padding: 15px 30px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.logo-text {
  padding-left: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
  background: -o-linear-gradient(150deg, var(--pink), var(--purple));
  background: linear-gradient(300deg, var(--pink), var(--purple));
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 65%;
  font-weight: 500;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0.7;
}

.contact-link:last-of-type {
  margin-right: 0;
}

.contact-link:hover {
  opacity: 1;
}

.phone-number,
.email {
  margin-left: 10px;
}

.top-container {
  height: 100vh;

  background-image: -o-linear-gradient(#090b1842, #090b18),
    url("./assets/images//bg.jpg");

  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#090b1842),
      to(#090b18)
    ),
    url("./assets/images//bg.jpg");

  background-image: linear-gradient(#090b1842, #090b18),
    url("./assets/images//bg.jpg");
  background-position: center;
  background-size: cover;
}

.top-contents-wrapper {
  position: absolute;
  bottom: 50px;
  max-width: 1400px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.top-contents {
  padding: 50px 30px;
}

.header {
  font-size: 280%;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 20px;
  max-width: 450px;
}

.header-bold {
  font-weight: 600;
}

.big-paragraph {
  font-size: 120%;
  line-height: 150%;
  font-weight: 400;
  max-width: 550px;
}

.social-icons {
  padding-top: 50px;
}

.social-icon {
  cursor: pointer;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  color: #fff;
  position: relative;
}

.social-icon:first-of-type,
.social-icon:nth-child(2) {
  margin-right: 20px;
}

.facebook,
.twitter,
.instagram {
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.facebook:hover {
  color: #1877f2;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: #c32aa3;
}

.star-front {
  height: 50px;
  position: relative;
  left: 250px;
  top: 30px;
}

.wrapper {
  background: -o-radial-gradient(#151936, var(--background), var(--background));
  background: radial-gradient(#151936, var(--background), var(--background));
}

.benefits-container {
  max-width: 1400px;
  margin: auto;
  padding: 50px 30px;
  padding-top: 0px;
}

.benefit-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.benefit-sub-title,
.service-sub-title,
.contact-sub-title,
.portfolio-sub-title {
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.benefit-title,
.service-title,
.portfolio-title {
  font-weight: 400;
  font-size: 160%;
  padding-bottom: 25px;
}

.benefit-paragraph {
  font-weight: 400;
  font-size: 110%;
  opacity: 0.8;
  line-height: 140%;
}

/* .benefit-img-container {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #ffffff30;
  background: #ffffff05;
  width: 60%;
} */

.benefit-img {
  height: 600px;
  margin-top: -30px;
  margin-bottom: -30px;
  margin-right: -30px;
}

.stat-data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  max-width: 1200px;
  margin: auto;
}

.stat-container {
  width: 100%;
  padding: 20px;
}

.stat-number {
  font-weight: 700;
  font-size: 280%;
  padding-bottom: 10px;
}

.stat {
  font-size: 70%;
  font-weight: 300;
  line-height: 145%;
}

.services-container {
  max-width: 1400px;
  margin: auto;
  padding: 0px 30px;
  padding-bottom: 50px;
}

.service-paragraph,
.portfolio-title-description {
  font-weight: 400;
  line-height: 135%;
  max-width: 700px;
}

.service-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.service-main {
  padding: 40px 30px;
  border: 1px solid #ffffff33;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-image: -o-linear-gradient(#00000093, #00000093),
    url("./assets/images/service-bg.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#00000093),
      to(#00000093)
    ),
    url("./assets/images/service-bg.jpg");
  background-image: linear-gradient(#00000093, #00000093),
    url("./assets/images/service-bg.jpg");
  background-position: center;
  background-size: cover;
  margin-right: 10px;
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}

.service-sub-container {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.service-sub {
  padding: 20px 30px;
  border: 1px solid #ffffff33;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #ffffff05;
  margin-bottom: 10px;
}

.service-sub-service-paragraph {
  opacity: 0.6;
  font-size: 80%;
  font-weight: 400;
  line-height: 1.5;
}

.service-sub:last-of-type {
  margin-bottom: 0;
}

.service-sub-service-title,
.contact-title,
.portfolio-about-title {
  font-size: 120%;
  font-weight: 400;
  padding-bottom: 10px;
}

.portfolio-about-title {
  padding-bottom: 20px;
}

.footer-container {
  padding: 40px 30px;
  max-width: 1400px;
  margin: auto;
  border-top: 1px solid #ffffff33;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright {
  font-weight: 400;
  font-size: 80%;
}

.footer-social-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100px;
}

.footer-social-icon {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  cursor: pointer;
}

.contact-container {
  max-width: 1400px;
  margin: auto;
  padding: 50px 30px;
  padding-bottom: 100px;
}

form {
  padding-top: 30px;
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.name-input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fname-input {
  margin-right: 10px;
}

.input-container {
  width: 100%;
}

input {
  background: #ffffff05;
  border-radius: 12px;
  border: 1px solid #ffffff33;
  width: 100%;
  padding: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 80%;
  outline: none;
  margin-top: 8px;
  margin-bottom: 5px;
  font-weight: 400;
  caret-color: var(--pink);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid var(--pink);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

textarea {
  font-family: inherit;
  background: #ffffff05;
  border-radius: 12px;
  width: 100%;
  padding: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 80%;
  outline: none;
  resize: none;
  border: 1px solid #ffffff33;
  margin-top: 8px;
  height: 120px;
  font-weight: 400;
  caret-color: var(--pink);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ffffff33;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  padding: 12px 24px;
  border-radius: 12px;
  background: -o-linear-gradient(150deg, var(--purple), var(--pink));
  background: linear-gradient(300deg, var(--purple), var(--pink));
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  width: 148px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

.is-successful {
  cursor: default;
  background: transparent;
  border: none;
  opacity: 1;
}

.is-successful:hover {
  border: none;
}

.status-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.email-status {
  font-weight: 300;
  font-size: 70%;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

label {
  padding-left: 5px;
  font-size: 80%;
  font-weight: 400;
}

.error-message {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 65%;
  padding-left: 10px;
  height: 18px;
  color: #ff3434;
}

.btn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 80%;
  padding: 8px 24px;
  border-radius: 12px;
  background: -o-linear-gradient(45deg, var(--purple), var(--pink));
  background: linear-gradient(45deg, var(--purple), var(--pink));
  opacity: 0.8;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.btn:hover {
  opacity: 1;
}

.portfolio-container {
  max-width: 1400px;
  margin: auto;
  padding: 50px 30px;
}

.portfolio-flex-container {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-portfolio-container {
  padding: 30px;
  border: 1px solid #ffffff33;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: -o-linear-gradient(#0000009d, #0000009d),
    url("./assets/images/clover.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#0000009d),
      to(#0000009d)
    ),
    url("./assets/images/clover.jpg");
  background-image: linear-gradient(#0000009d, #0000009d),
    url("./assets/images/clover.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin-right: 10px;
}

.computer {
  height: 200px;
  display: block;
  margin: auto;
  margin-top: -20px;
}

.portfolio-about-project-container {
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #ffffff33;
  background: #ffffff05;
  -webkit-box-flex: 0.7;
  -ms-flex: 0.7;
  flex: 0.7;
}

.project-description {
  font-weight: 400;
  font-size: 80%;
  line-height: 1.55;
}

.btn-container {
  padding-top: 40px;
  padding-bottom: 10px;
}

.hollow-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 70%;
  padding: 11px 24px;
  border-radius: 12px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  border: 1px solid #ffffff33;
  background: #ffffff15;
}

.hollow-btn:hover {
  border: 1px solid var(--pink);
}

@media only screen and (max-width: 1000px) {
  .email,
  .phone-number {
    display: none;
  }
  .contact-link:first-of-type {
    margin-right: 15px;
  }
  .benefit-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 50px;
  }
  .benefit-sub-title,
  .service-sub-title {
    padding-top: 50px;
  }
  .service-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .service-main {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .stat-data-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stat-container {
    max-width: 400px;
  }
  .portfolio-container {
    padding-top: 75px;
  }
  .portfolio-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .img-portfolio-container {
    min-height: 500px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .computer {
    margin-right: auto;
    margin-left: 0;
  }
  .contact-container {
    padding-top: 75px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 180%;
  }
  .big-paragraph {
    font-size: 100%;
  }
  .benefit-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 50px;
  }
  .benefit-img {
    height: 350px;
    margin: auto;
  }
  .benefit-sub-title {
    padding-top: 50px;
  }
  .stat-data-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
  }
  .stat-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .service-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .service-main {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .portfolio-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .img-portfolio-container {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .logo-text {
    opacity: 0;
  }
}
